body {
    font-family: Arial, sans-serif; 
    padding: 18px;
    background-color: rgb(58, 58, 58);
    text-align: center; }
    #screen { 
        background:#ddd; 
        padding:8px; 
        border-radius:6px; 
        text-align:center; 
        margin-bottom:12px;}
    #contenedorAsientos { 
        display:flex; 
        flex-direction:column;
        align-items: center; 
        gap:10px; }
    .fila { 
        display:flex; 
        gap:6px; }
    .asiento {
        width:44px; 
        height:40px; 
        border-radius:6px; 
        display:inline-flex; 
        align-items:center;
        justify-content:center; 
        cursor:pointer; 
        user-select:none; 
        background:#e6e6e6;
        box-shadow:0 1px 0 rgba(0,0,0,0.1) inset;
    }
    .ocupado { 
        background:#d9534f; 
        cursor:not-allowed; 
        color:white; }
    .seleccionado { 
        background:#5cb85c; 
        color:white; }
    .legend { 
        margin-top:12px; 
        margin-left: 600px;
        display:flex; 
        gap:12px; 
        align-items:center; }
    .legend div { 
        display:flex; 
        gap:6px; 
        align-items:center; }
    .legend .box { 
        width:20px; 
        height:20px; 
        border-radius:4px; }
    #reservarBtn { 
        margin-top:14px; 
        padding:10px 16px; 
        font-size:16px; 
        cursor:pointer; }