
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #0d0d0d;
            color: white;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            font-size: 2.5rem;
            letter-spacing: 2px;
        }

        h1::after {
            content: "";
            display: block;
            width: 120px;
            height: 3px;
            background-color: #821fd8;
            margin: 10px auto;
            border-radius: 5px;
        }

        .contenedor {
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }

        .card {
            background-color: #1a1a1a;
            border-left: 4px solid #821fd8;
            padding: 20px;
            margin-bottom: 25px;
            border-radius: 8px;
            box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.08);
        }

        .card h2 {
            margin: 0 0 10px 0;
            font-size: 1.4rem;
        }

        .card p {
            margin: 0 0 15px 0;
            color: #cccccc;
        }

        iframe {
            width: 100%;
            height: 250px;
            border: none;
            border-radius: 8px;
        }
        nav ul li {
    padding: 40px;
}
nav ul {
    list-style: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover {
    color: black;
    background-color: #821fd8;
    padding: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}
nav {
    margin-left: 460px;
}
